<p id="notice"><%= notice %></p>

<h1>Topickeywords</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topickeywords.each do |topickeyword| %>
      <tr>
        <td><%= link_to 'Show', topickeyword %></td>
        <td><%= link_to 'Edit', edit_topickeyword_path(topickeyword) %></td>
        <td><%= link_to 'Destroy', topickeyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topickeyword', new_topickeyword_path %>
